# DataTypes, Variables and Strings in Python!

In this lecture we will learn about numbers in python and how to use them.
 we'ill learn about the following topics:
 
 1.) Types of Numbers in python
 
 2.) Basic Arithmetic
 
 3.) Object assignment in Python
 
 4.) Variable converntions in Python

### Basic Arithmetic [ Integers ]

commments
 - single line comments - always start with #
 - multiline comments - always start and ends with either """ OR '''

# Documnentation should always be in """ here """ OR ''' here '''
'''
My code simply prints stuff out to the user.
'''
# comment + documentation

# Variables

In [21]:
# a variable is a place of reference in memory
# that place of reference is known by a given name  (variable)

In [22]:
# store my age in a python variable, call the variable as `user age`

In [24]:
# 2 options of variable naming
 # OPTION 1 - CAPITALIZATION
    # e.g UserAge or userAge
 # OPTION 2 - using underscores - considered more pythonic - MY PREFERENCE
    # e.g user_age
    # kenya_female_hostel
    # X 25_years_students
    # students_25_years
    # you can also start a variable with underscore 
        # _user_age

In [25]:
# Addition ( + )
3 + 4

7

In [26]:
first_number = 3
second_number = 4
first_number + second_number

7

In [27]:
my_sum = first_number + second_number

In [28]:
print(my_sum)

7

In [29]:
# subtraction ( - )
5 - 2

3

In [34]:
first_int = 5
second_integer = 2
diff = first_int - second_integer
print(diff)

3

In [35]:
age = 56
# capitalization (using underscores) will only be necesarry when a variable has more than 1 word in it
# age_for_daughlas = 56

In [38]:
# Multiplication ( * )
4 * 2

8

In [40]:
first_multiple = 4 
second_multiple = 2
product = first_multiple * second_multiple

In [42]:
print(product)

8

In [46]:
# Division ( / )
3 / 2

div_one = 3
div_two = 2
result = div_one / div_two

In [49]:
print(result)

1.5

In [50]:
# Floor Division ( // )
3 // 2

1

In [52]:
floor_val_one = 7 
second_floor_val = 4
result = floor_val_one //  second_floor_val

In [53]:
print(result)

1

In [67]:
my_name = "Alison Mukoma"
print(my_name)

Alison Mukoma

In [68]:
my_name_second = "Alison Mukoma second"
print(my_name)

Alison Mukoma

In [69]:
# Modulo ( % )
7 % 4

3

In [77]:
# powers
# 3 to the power of 2
my_floor_result = 3 ** 0.5
type(my_floor_result)

float

## STRINGS

In [82]:
# single word strings
'hello class', 'OR', "hello class"

('hello class', 'OR', 'hello class')

In [115]:
user_name = "user1234"
# print(user_name)
# type(user_name )

# you can convert from one datatype to the other

# from int to str
# or from str to int

user_age = 54
# print(user_age)
user_age = str(user_age)
type(user_age)

# print(user_name)
type(user_name)

my_int = 346
type(my_int)

conv = str(my_int)
type(conv)


name = 'ALISON'

'345' -> 345

str

In [135]:
print('Hello user 123') 
print('and how are you doing?')

# 'OR'

# print('\n')
print('Hello \nuser 123 \nand how are \nyou doing?')

Hello user 123
and how are you doing?
Hello
user 123
and how are
you doing?

In [140]:
looong_string = "I am a string with looooong wooooordddds in me, please pardon me for that"
# print(looong_string)

len(looong_string)

73

# STRING SLICING

In [143]:
test_string = "I am here to be sliced"
len(test_string)

21