___

<a href='https://github.com/sonlinux/'><img src='../sonlinux@devsbranch.png'/></a>
___
<center><em>Coursework  delivered by: Alison Mukoma </em></center>
<center><em>Copyright: Evelyn Hone College cc DevsBranch</em></center>

<center><em><h1>Welcome to our second class everyone</h1></em></center>

In [11]:
# print formatting in python
# lists
# Dictionaries
# Tuples
# Sets

# File handling in python

In [12]:
# print formatting in python
print("Hello and welcome again David")

Hello and welcome again David

In [46]:
user_name = "Ganizani"
coding_experience = 7
# print("Hellow and welcome once more David")

# 1st option - works accross python versions
# print("Hello and welcome once more %s" % user_name)

# 2nd option - works accross python versions
# print("Hello and welcome once more {fname} {lname}".format(fname=user_name, lname='Lastname'))
# print("Hello and welcome once more {my_name}".format(my_name=user_name))

# print("Hello and welcome once more {}".format(user_name))
# print("Hello and {} once more {}".format('you are most welcome', user_name))

# 3rd - for python 3 going up
# greetings = "welcome using 'f' string "

# print(f"Hello and {greetings} again {user_name}")

# print(f'hello {coding_experience} years is {user_name}.\'s nexperience at programming')

# print(f"hello and i am from f strings {user_name}")

hello and i am from f strings Ganizani

In [55]:
# Lists are data structures to represent data

option_one = []
# print(option_one)

option_two = list()


# print(option_two)
# type(option_two)

option_one_with_one_data_type = [22, 6, 8, 9, 11, 3, 0]

option_one_with_multi_data_type = [22, 'six', 8, 9, 11.9, 3, True]
print(option_one_with_multi_data_type)

len(option_one_with_one_data_type)

[22, 'six', 8, 9, 11.9, 3, True]

7

In [66]:
print(option_one_with_multi_data_type + ['form outside', 'from outside 2', 9])

[22, 'six', 8, 9, 11.9, 3, True, 'form outside', 'from outside 2', 9]

In [67]:
print(option_one_with_multi_data_type * 2)

[22, 'six', 8, 9, 11.9, 3, True, 22, 'six', 8, 9, 11.9, 3, True]

In [71]:
option_one_with_multi_data_type.append(45)
print(option_one_with_multi_data_type)

[22, 'six', 8, 9, 11.9, 3, True, 'newly added', 'newly added', 45]

In [79]:
print(option_one_with_multi_data_type[9])

45

In [83]:
option_one_with_multi_data_type.reverse()
print(option_one_with_multi_data_type)

[45, 'newly added', 'newly added', True, 3, 11.9, 9, 8, 'six', 22]

In [84]:
print(option_one_with_multi_data_type[9])

22

In [85]:
print('hello' + ' thats me')

hello thats me

In [96]:
print(['hello'] + ['that', 'is', 'me'])

my_list = ['hello', 9]
my_list.append(34)
print(my_list)

['hello', 'that', 'is', 'me']
['hello', 9, 34]

In [113]:
# print(option_one_with_multi_data_type)

# one = 1
# two = 2

one, two, three = 1, 2, 'something'

print(one)
print(two)
print(three)


# for loops
for name in option_one_with_multi_data_type:
    print('I am from the list', name)

1
2
something
I am from the list 45
I am from the list newly added
I am from the list newly added
I am from the list True
I am from the list 3
I am from the list 11.9
I am from the list 9
I am from the list 8
I am from the list six
I am from the list 22

In [152]:
# Dictionaries
# key: value
# name: Alison

# key + value = item

my_dictionary = {'names': ['Alison', 'Jachin', 'Felix', 'PatRiCiA'], 'exp': 45, 'color': 'blue', 45: 'my keyt is an int'}


for key, val in my_dictionary.items():
    print(key, val)

# for value in my_dictionary.values():
#     print(value)

my_dictionary['names'][3].lower()

# 'Patricia'.lower()

names ['Alison', 'Jachin', 'Felix', 'PatRiCiA']
exp 45
color blue
45 my keyt is an int

'patricia'

In [ ]:
# python  ...
# visual studio code -

# slack/watsapp -
# zoom -
# github - git -

# tuples
# sets
# file handling - read and write content to a file

In [181]:
# Tuple
# lis = ['myname', 45, 'again']
# # changing an existing element is refered to as immutability
# lis[0]='changeme'
# # lists are mutable
# print(lis[0])

# Tuples are Immutable
my_tuple_data = (1, 'jachin', 789, 3, 4, 4, 4, 4, 4)
len(my_tuple_data)
my_tuple_data.index(789)
# my_tuple_data[2] = 54
# my_tuple_data.append('patricia new here')
my_tuple_data.count(4)

5

In [211]:
# sets and booleans
# will only store uniques items
# dictionaries = {}
my_set = set()
# type(sets)

my_set.add(35)
# print(my_set)

my_list = [3, 3, 3, 3, 3, 3, 4, 5, 'akdh']
# my_list_converted = set(my_list)

# my_list_converted.add(10)

# print(my_list_converted)

# I want a list but with unique data in it
# do not change the original list into a diff ds
my_list_into_set = list(set(my_list)) # one liner


# type(my_list_into_set)

my_list_cleaned = set(my_list)
my_list = list(my_list_cleaned)
print(my_list_cleaned)

{'akdh', 3, 4, 5}

In [ ]:
# booleans and 
# file management

In [219]:
a = True # Truthiness
b = False # Falsiness

1 > 2 # False
2 > 1 # True

c = None # this is more of an empty scenario
print(c)

# 1 not > 2

None

In [ ]:
# within 2 weeks
# - write enough python 
# - express your imagination


# 1. get the total number of students, and their corresponding gender
# 2. will count the students with gender `male`
# 3. will count the students with gender `female`
# 4. will show the total students with gender male
# 5. will show the total students with gender female

# python
# user_input = []
# for studnt in user_input:
#     if studnt.gender == male:
#         print()

In [ ]:
# reading and writing to files in python

In [223]:
names = ['alison', 'patricia', 'felix', 'jachin']

'jachin' not in names

False

In [ ]:
# FILE HANDLING, FOR LOOPS IF STATEMENTS, AND FUNCTIONS IN PYTHON

# you know 
# my_file = open('filename.txt')
# my_file.write('content')
# my_file.close()

# my_file = open('filename.txt')
# my_file.read()
# my_close.close()

# context managers
# with open('test.txt', 'r') as test_file:
#     print(test_file.read())

In [225]:
# for loops
# for placeholde in iterable:
#     print(placeholder)


# the_geeks = ['felix', 'patricia', 'jachin']

# for name in the_geeks:
#     print("my name is ", name)

my name is  felix
my name is  patricia
my name is  jachin

In [234]:
# break statement


# if statements ( conditions )
# if case1
#     perform this action
# if case2
#     perform action 2
# if case3
#     perform action 3

# if case1:
#     perform action1
# # else if 
# elif case2:
#     perform action2
# elif case3:
#     perform action3
# else:
#     tell the user you found nothing

# if True:
#     print('I am able to run.')

student_names = ['felix', 'patricia', 'jachin']

if 'pAtricia' in student_names:
    print('Patricia was found')

elif 'felIx' in student_names:
    print('Felix was found')

elif 'alison' in student_names:
    print('Alison was found')
    
else:
    print('No student found') # failsafe

# defensive programming

No student found

In [251]:
# for loops

# continue keyword

the_geeks = ['felix', 'patricia', 'jachin']

my_name_new = 'feliX'

if my_name_new in the_geeks:
    print(my_name_new, ' was found')

if my_name_new not in the_geeks:
    print(my_name_new, ' was not found')
    
# else:
#     print(my_name_new, ' Was not found.')

# for name in the_geeks:
#     if name the geeks:
#         print(name, ' is a committed student.')
        
#     if name == 'Douglas':
#         print(name, ' is a committed student.')
        
#     else:
#         print(name, ' is also a very good student.')
        
# name = 'Joseph'
# if name not in the_geeks:
#     print(name, 'was NOT found in the list of students')

feliX  Was not found.

In [273]:
# continue keyword | skip

our_list = [23, 54, 23.6, 'patricia', 'felix', 'jachin', 'alison']

# for item in our_list:
#     if item == 'patricia': # nested condition
#         continue # continue | skip
#     print(item)

# break | STOP and do not go any further BUT give me back what you have accomplished so far

# for elem in our_list:
#     if elem == 'felix':
#         print(our_list[:position_of_felix])
#     print(elem)

my_name = ['Alison', 'felix', 'jachin', 'another', 'nhame']

for item in my_name[:3]:
    print(item)

Alison
felix
jachin

In [314]:
# enumerate, index|position (int), elem

for index, item in enumerate(my_name):
    print(f'{item} is on position {index}')

Alison is on position 0
felix is on position 1
jachin is on position 2
another is on position 3
nhame is on position 4

2 3

In [313]:
# functions
# methods
# classes
# db interaction < 5
# sqlite3 
# polymorphism, inheritance, 

# range
# % modulo - gives you the remainder
# even divisible by 2 without a remainder, 
# odd - number leaves a remainder when divided by 2

# prime numbers divisible by itself ONLY

# option one

numbers = list(range(12))

for number in numbers:
    if number % 2 == 0:
        print(number, '  is an EVEN number\n')

        
# option 2

# my_numbers = list(range(30, 99, 3))
# print(my_numbers)

0   is an EVEN number

2   is an EVEN number

4   is an EVEN number

6   is an EVEN number

8   is an EVEN number

10   is an EVEN number

0

In [ ]:
# I AM CORE PYTHON DEVELOPER - CPYTHON
# CORE DEVELOPER ON DJANGO FRAMEWORK
#